<div class="user-list">
  <h1>User list:</h1>
  <div
    #usersDataContainer="appResolve"
    appResolve
    [dbSharedResolve]="resolveBundle"
  >
    <div *ngIf="usersDataContainer.isResolving; else loadedData" class="user-list--loading">
      <mat-spinner></mat-spinner>
    </div>
    <ng-template #loadedData>
      <ng-container *ngIf="usersDataContainer.hasError; else displayUsers">
        <div class="error">
          {{ error$ | async }}
        </div>
      </ng-container>
      <ng-template #displayUsers>
        <div class="user-list__content">
          <ng-container *ngFor="let user of userList$ | async">
            <app-user-item [user]="user" (clickOnUser)="navigateToUser($event)"></app-user-item>
          </ng-container>
        </div>
      </ng-template>
    </ng-template>
  </div>
</div>

